.vimeography-container {
	margin: 0 auto;
}

.vimeography-thumbnails {
	position: relative;
}

.vimeography-thumbnail {
	float: left;
}

.vimeography-thumbnail-crop {
	width: 195px; 
	height: 195px; 
	overflow: hidden; 
	float: left;
	background-color: #ff5c23;
	border-bottom: 4px solid #ff5c23;
	margin: 15px 15px 15px 0;
}
.vimeography-thumbnail-crop a {
	display: block;
	width: 195px;
	height: 195px;
}
.vimeography-thumbnail-crop img {
	max-width: 390px; 
	margin: -12px 0 0 -97px;
	opacity: 0.8;
}

.vimeography-data {
	clear: left;
}

.vimeography-thumbnail h1 {
	font-size: 13px;
	clear: left;
	width: 195px;
	color: #50534f;
	text-align: right;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #50534f;
	height: 17px;
}

.vimeography-data p {
	display: none;
	float: left;
	width: 195px;
}


#vimeography-loader {
	background: url('../img/loader.gif') no-repeat 50% 50%;
}

#vimeography-player {
	opacity: 0;
}

.read-more a:visited, .read-less a:visited {
	color: #0000ff;
}