<div class="wrap wp_bootstrap">
	<div class="icon32" id="icon-options-general"><br></div>
	<h2 class="page-title">My Themes</h2>
	
	<ul id="themes">
		{{#themes}}
			<li>
				<div class="theme-container">
					<div class="theme-image">
						<img alt="{{name}}" src="{{thumbnail}}" />
					</div>
					
					<div class="theme-details">
						<a href="#" data-theme="{{name}}">{{name}}</a> 
						<span></span>
					</div>
					
					<a href="#" data-theme="{{name}}" class="theme-info" style="opacity: 0;">
						<strong>{{name}}</strong>
						<span>{{description}}</span>
					</a>
				</div>
			</li>
		{{/themes}}
	</ul>
	
	<h1 style="clear:both;">Install new theme</h1>
		
    <form class="form-horizontal">
	    <fieldset>
		    <div class="control-group">
			    <label class="control-label" for="theme-uploader"></label>
			    <div class="controls">
				    <input type="file" class="input-file input-large" id="theme-uploader" style="font-size:13px;">
				    <p class="help-block">Supporting help text</p>
			    </div>
		    </div>
	    </fieldset>
    </form>
    
</div>