<div class="vimeography-container">
	<div class="vimeography-thumbnails">
	
		{{#info}}
			<div class="row-fluid">
				{{#row}}
					<div class="vimeography-thumbnail span3">
						<div class="vimeography-thumbnail-crop">
							<a href="#" data-id="{{id}}" title="{{title}}">
								<img src="{{thumbnail_large}}" alt="{{title}}" />
							</a>
						</div>
						
						<h1>{{title}}</h1>
						
						<div class="vimeography-data">
							<p>{{{description}}}</p>
						</div>
					</div>
				{{/row}}
			</div>
		{{/info}}
		
	</div>
</div>