ul.vimeography-tag-cloud {text-align:justify;}
/* display the individual items next to each other, not one-per-line */
ul.vimeography-tag-cloud li { display: inline; }
ul.vimeography-tag-cloud a {
	text-decoration: none; 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.2em;
}

/* size is purely presentational, based upon the class */
ul.vimeography-tag-cloud .not-popular a { font-size: 1em; font-weight: 100; color: #ccc; text-transform: lowercase; }
ul.vimeography-tag-cloud .not-very-popular a { font-size: 1.3em; font-weight: 300; color: #aaa; }
ul.vimeography-tag-cloud .somewhat-popular a { font-size: 1.6em; font-weight: 500; color: #999; }
ul.vimeography-tag-cloud .popular a { font-size: 1.9em; font-weight: 700; color: #666; }
ul.vimeography-tag-cloud .very-popular a { font-size: 2.2em; font-weight: 900; color: #333; }
ul.vimeography-tag-cloud .ultra-popular a { font-size: 2.5em; text-transform: uppercase; font-weight: bold; color: #111;}