{{#styles}}
	<link media="screen" type="text/css" rel="stylesheet" href="{{#path}}{{path}}{{/path}}" />
{{/styles}}

{{#scripts}}
	<script charset="utf-8" type="text/javascript" src="{{#path}}{{path}}{{/path}}"></script>
{{/scripts}}

<div id="vimeography-main" class="showcase">
	{{#info}}
    <!-- Each child div in #showcase represents a slide -->
    <div class="showcase-slide">
        <!-- Put the slide content in a div with the class .showcase-content -->
        <div class="showcase-content">
            <!-- If the slide contains multiple elements you should wrap them in a div with the class
            .showcase-content-wrapper. We usually wrap even if there is only one element,
            because it looks better. -->
            <div class="showcase-content-wrapper">
            	<div style="background: url('{{thumbnail_large}}') no-repeat; width:800px; height:450px;background-size: 800px 450px;">
            		<h1>{{title}}</h1>
            		<h2>{{duration}}</h2>
            	</div>
            </div>
        </div>
		<!-- Put the thumbnail content in a div with the class .showcase-thumbnail -->
		<div class="showcase-thumbnail">
			<a href="#{{id}}" title="{{title}}">
				<img alt="{{title}}" class="vimeography-thumbnail" data-id="{{id}}" data-title="{{title}}" data-duration="{{duration}}" data-plays="{{stats_number_of_plays}}" src="{{thumbnail_medium}}" />
			</a>
			<!-- The div below with the class .showcase-thumbnail-caption contains the thumbnail caption. -->
			<div class="showcase-thumbnail-caption">{{title}}</div>
			<!-- The div below with the class .showcase-thumbnail-cover is used for the thumbnails active state. -->
			<div class="showcase-thumbnail-cover"></div>
		</div>
    </div>
    {{/info}}
</div>

<script type="text/javascript">
	(function($){
	    $(document).ready(function(){
	    	$('#vimeography-main').awShowcase({
	    		content_width: 800,
	    		content_height: 450,
	    		interval: 4000,
	    		transition: 'fade',
	    		continuous: true,
	    		auto: true,
	    		buttons: false,
	    		arrows: false,
	    		thumbnails: true,
	    		thumbnails_slidex: 1
	    	});
	    });
	})(jQuery);
</script>

		<!-- <iframe src="http://player.vimeo.com/video/28380190?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->