.vimeography-default-container { margin: 0 auto; }

.vimeography-default-player {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.vimeography-default-player iframe,  
.vimeography-default-player object,  
.vimeography-default-player embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vimeography-default-info h1 {
    color: #222222;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 33px;
    letter-spacing: -1px;
}

.vimeography-default-info p {
	color: #333333;
    font-family: Arial,Sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 23.5px;
}

.vimeography-default-thumbnails img
{
	float: left;
	width: 100%;
	padding-bottom: 15px;
}

.vimeography-default-data { display: none; }