#vimeography-container {
	width: 940px;
	margin: 0 auto;
	overflow: auto;
}

#vimeography-main {
	width: 671px;
	margin-right: 15px;
	float: left;
}

.vimeography-playbar {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	height: 50px;
	width: 656px;
	padding-left: 15px;
	color: #f4f4f4;
	cursor: pointer;
}

.vimeography-playbar .vimeography-playbar-background {
    background-color: #fff;
    height: 100%;
    margin-left: -15px;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}


.vimeography-playbar .play-button
{
	background: url('../img/plugins/showcase/arrows.png') no-repeat -34px -34px transparent;
	display: block;
	width: 33px;
	height: 33px;
	float: left;
}

.vimeography-playbar h1 {
	color: #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	font-size: 24px;
	text-align: left;
	margin: 0 25px 0 10px;
	float: left;
	width: 585px;
	padding: 6px 0 4px;
	text-shadow: 1px 1px 1px #666;
	z-index: 2;
}

#vimeography-sidebar {
	position: relative;
	width: 224px;
	height: 377px;
	background: #111;
	padding: 0 15px;
	color: #ccc;
	float: left;
 	font-family: Helvetica,Arial,sans-serif;
    letter-spacing: -1px;
}

#vimeography-sidebar h1 {
	padding: 10px 0;
	color: #f4f4f4;
	text-transform: uppercase;
	font-size: 18px;
}

#vimeography-sidebar h2 {
	padding-bottom: 10px;
	color: #f4f4f4;
	text-transform: uppercase;
	font-size: 14px;
}

#vimeography-sidebar p {
	color: #f4f4f4;
	font-size: 12px;
 	line-height: 1.2em;
	max-height: 260px;
	overflow: hidden;
}

#vimeography-plays {
	position: absolute;
	bottom: 10px;
	color: #f4f4f4;
}

/** Overloaded Showcase styles **/
.showcase-content-wrapper {
    height: 377px !important;
    width: 671px !important;
}

.showcase-thumbnail-wrapper-horizontal {
    padding: 20px !important;
}

.showcase-thumbnail-container {
	margin-top: 15px;
	width: 940px;
	height: 132px;
}

.showcase-thumbnail-restriction {
	width: 886px !important;
}

.showcase-thumbnail-button-backward, .showcase-thumbnail-button-forward {
    cursor: pointer;
    padding: 5px !important;
}

.showcase-thumbnail-button-backward .showcase-thumbnail-horizontal,
.showcase-thumbnail-button-forward .showcase-thumbnail-horizontal {
    margin-bottom: 53px !important;
    margin-top: 52px !important;
}

.showcase-thumbnail-wrapper-horizontal .showcase-thumbnail {
    margin-right: 10px;
    width: 95px !important;
}

.showcase-thumbnail-button-forward, .showcase-thumbnail-button-backward {
	background-color: #008b8b;
}

.showcase-thumbnail-cover {
	display: none;
}

.showcase-thumbnail.active .showcase-thumbnail-cover {
    display: block;
}

.showcase-thumbnail:hover .showcase-thumbnail-cover
{
	display: block;
    background-image: url("../img/plugins/showcase/black-opacity-40.png");
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.showcase-thumbnail-caption {
	display: none;
}
.showcase-thumbnail:hover .showcase-thumbnail-caption
{
	display: block;
    top: 9px;
    padding: 0 8px 5px;
    position: absolute;
    color: #f4f4f4;
    font-weight: 300;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	max-height: 67px;
	overflow: hidden;
}

.vimeography-thumbnail-crop { width: 95px; height: 95px; overflow: hidden; float: left;}
.vimeography-thumbnail-crop img { max-width: 200px; height: 150px; margin: -27px 0 0 -52px; }

#vimeography-credit {
	float:right;
	padding-top: 5px;
}